# Local virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Database files
*.sqlite3
*.db

# Test cache
.pytest_cache/

# IDE / editor config
.vscode/

# Environment variables
.env

# Misc project files
structure.py
structure_clean.txt

# Git history
.git/